* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 800px;
    margin: 80px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#student {
    background: beige;
    padding: 40px;
}

#student>div {
    text-align: center;
}

#student>h1 {
    font-size: 32px;
    margin-bottom: 40px;
    text-align: center;
}

#student>span {
    display: block;
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    color: green;
}

#student>form>span {
    font-weight: bold;
    font-size: 24px;
}

#student>form>input {
    margin: 0 10px;
    padding: 8px 20px;
    font-size: 18px;
}

#student>form>button {
    padding: 8px 20px;
    font-size: 18px;
}

#student>h2 {
    font-size: 24px;
    margin: 20px 0;
}

#student>table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#student>table td,
#student>table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#student>table tr:nth-child(even) {
    background-color: #dddddd;
}

#student>table img {
    height: 80px;
    width: auto;
}