<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="student">
        <div>
            <a href="/attendance">Điểm danh</a>
        </div>
        <h1>Quản lý sinh viên</h1>
        <form action="/create" method="post">
            <span>Thêm</span>
            <input required autoComplete="off" type="text" name="name" placeholder="Nhập họ và tên sinh viên">
            <input required autoComplete="off" type="text" name="code" placeholder="Nhập mã số sinh viên">
            <button type="submit">Tạo</button>
        </form>
        {%with messages = get_flashed_messages()%}
        {%if messages%}
        {% for message in messages %}
        <span>
            {{message}}
        </span>
        {%endfor%}
        {%endif%}
        {%endwith%}

        <h2>Danh sách sinh viên</h2>
        <table>
            <tr>
                <th>Id</th>
                <th>Họ và tên sinh viên</th>
                <th>Mã số sinh viên</th>
                <th>Lần cuối điểm danh</th>
                <th>Mã vạch</th>
                <th>Chỉnh sửa</th>
                <th>Xoá</th>
            </tr>
            {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.code }}</td>
                <td>{{ student.last_checked_in }}</td>
                <td>
                    <img src="{{student.path}}" alt="">
                </td>
                <td>
                    <form action="/update" method="POST">
                        <input type="hidden" name="id" value="{{ student.id }}">
                        <input autoComplete="off" value="{{ student.name }}" type="text" name="name"
                            placeholder="Nhập họ và tên sinh viên">
                        <input autoComplete="off" value="{{ student.code }}" type="text" name="code"
                            placeholder="Nhập mã số sinh viên">
                        <button type="submit">Cập nhật</button>
                    </form>
                </td>
                <td>
                    <a href="/delete/{{ student.id }}"
                        onclick="return confirm('Bạn có chắc muốn xoá sinh viên ?')">Xoá</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>